/* ---GLOBAL VARIABLES--- */
body{
font-family: 'Roboto', sans-serif;
}
:root {
    --nav-bg-color:#2c3e50;
    --odd-bg-color:#ecf0f1;
    --even-bg-color:#b5b5b7 ;
    --h-tag-color:  #3498DB;
    --orange-color: #E74C3C;
}
.odd_background{
    background-color: var(--odd-bg-color);
}
.even_background{
    background-color: var(--even-bg-color);
}

.heading h1,
.heading h2,
.heading h4 {
    color:var(--h-tag-color);
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: solid 0.3rem var(--h-tag-color);
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
    display: inline-block;
}
h5,h6, h4 {
    color:var(--h-tag-color);
    padding-top: 0.5rem;
}


/* ---/GLOBAL VARIABLES--- */

/* ---HEADER--- */
nav {
background-color: var(--nav-bg-color);
text-transform: uppercase;

}
nav a{
    color: var(--h-tag-color);
    font-weight: 700;
}
nav a:hover{
    color: var(--orange-color);
}

.header_image{
    background: url("../img/header.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 50rem;
}
/* header image for contacts */
.header_image_contacts{
    background: url("../img/contacts.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    height: 40rem;   
}

header h1{
    font-size: 6.2rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: center;
}
header h1 span{ 
    display: inline-block;
    padding: 0.5rem;
    border: white solid 0.8rem;
}
.kicker{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color:white;
}
#helloShow h3{
    visibility: hidden;
}


/* hamburger menu */
/* https://www.codeply.com/go/PkEufEnojF/bootstrap-4-navbar-animated-toggle-hamburger-close */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: var(--h-tag-color);
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: relative;

    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: relative;
  
    top: -13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.navbar-collapse a{
    text-align: center;
}

/* \hamburger menu */

@media only screen and (max-width:620px){
    header h1{
        font-size: 3.2rem;
        font-weight: 400;
       
        text-align: center;
    }
    header h1 span{ 
        display: inline-block;
        padding: 0.5rem;
        border: white solid 0.5rem;
    }
  
}
@media only screen and (max-width:995px){
    #swapDivs{
        display: flex;
        flex-direction: column-reverse;
    }
    .text_left{
        text-align: center !important;
    }
    .allignLI
    {
        display: inline-block;
        margin-right: 0px;
        padding: 0;
    }
    .float_right{
        float: left !important;
    }
}


/* ---/HEADER--- */

/* ---ABOUT ME--- */


/* ---/ABOUT ME--- */

/* ---PROJECTS--- */
.progress-bar-color{
    background-color: var(--orange-color);
}

h3{
    color: var(--h-tag-color);
}

/* confetti effect */
  #project{
    position: relative;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
  .red {
    background-color: #E94A3F;
  }
  
  .yellow {
    background-color: #FAA040;
  }
  
  .blue {
    background-color: #5FC9F5;
  }
/* \confetti effect */

.project:hover .image {
    opacity: 0.5;
  }
  
  .project:hover .middle {
    opacity: 1;
    text-decoration: none;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  /* .image{
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
  } */



/* ---/PROJECTS--- */


/* ---GOOGLE MAPS--- */
#map {
    width: 100%;
    height: 400px;
  }

/* ---/GOOGLE MAPS--- */


/* ---FOOTER--- */
  i{
      color:var(--orange-color);
      display: block;
  }
.copyright{
    background-color: var(--nav-bg-color);
}

.float_right{
    float: right;
}


  .copyright p{
      display: inline;
      color: var(--h-tag-color);
      font-weight: 700;
  }

  .btn, .btn:visited, .btn:active {
    color:var(--h-tag-color);
    font-weight: 700;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border: 0.1rem solid var(--h-tag-color);
    border-radius: 0;
  }

  .btn:hover{
    color: var(--orange-color);
    background-color: var(--nav-bg-color);
    border: 0.1rem solid var(--nav-bg-color);
    }

    ul{
        list-style-type: none;
    }

    li a{
        color: var(--h-tag-color);
        font-weight: 700;
    }
    li a:hover{
        color: var(--orange-color);
        text-decoration: none;
    }
    .text_left{
        text-align: left;
    }

 

    


  /* ---FOOTER--- */