<div class="odd_background">
    <div class="container pb-5" id="aboutme">
        <div class="row text-center heading">
            <div class="col-lg-12">
                <h1>{{ .Site.Params.aboutme.title}}</h1>
            </div>
        </div>
        <div class="row" id="swapDivs">
            <div class="col-lg-8" id="helloShow">
                {{ .Site.Params.aboutme.description | markdownify}}
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle img-fluid" src="{{.Site.BaseURL}}/{{.Site.Params.aboutme.image}}">
            </div>
        </div>

    </div>
</div>