<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}


    <div class="odd_background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading mt-5">
                    <h2>Contact Form</h2>
                </div>
                </div>
                <div class="col-lg-8">
                        <p>{{ .Content }}</p>
                    <form method="POST" id="contactsForm" name="form" action="https://formspree.io/{{.Site.Params.contacts.email}}">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="name" class="mr-auto"><h6>Your Name:</h6></label>
                                <input type="text" class="form-control" name="name" minlength="2" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email" class="mr-auto"><h6>Your Email:</h6></label>
                                <input type="email" class="form-control" name="email" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="d-flex flex-column">
                                    <label for="message" class="mr-auto"><h6>Your Message:</h6></label>
                                    <textarea class="form-contorl" name="message" rows="7" minlength="25" required></textarea>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-template-main" name="submit">
                                        <i class="fas fa-envelope fa-2x pr-2"></i>Send Message</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <p class="text-left">
                        <h5>Let's chat!</h5>
                        <i class="fas fa-phone"></i>&nbsp;{{.Site.Params.contacts.phone}}
                        <br>
                        <i class="fas fa-envelope-open"></i>&nbsp;{{ .Site.Params.contacts.email}}<br>
                        <h5 class="pt-2">Location</h5> 
                        <i class="fas fa-home"></i>&nbsp;{{ .Site.Params.contacts.address}}</p>
                        
                        <h4>Social</h4>
                        
                        <a target="_blank" href="{{.Site.Params.contacts.github}}">
                            <i class="fab fa-github-square fa-3x pr-2"></i>
                        </a>
                        <a target="_blank" href="{{.Site.Params.contacts.linkdIn}}">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                </div>
            </div>
        </div>


        {{ partial "map.html" . }}
        {{ partial "copyrights.html" . }}
</body>

</html>